<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>
        <#if contentDateVo??>
            <#if contentDateVo.title??>${contentDateVo.title}</#if>
        </#if>
    </title>
    <link rel="stylesheet" href="${rc.contextPath}/api-cms/stylesheets/haiwai_public.css" type="text/css">
    <link rel="stylesheet" href="${rc.contextPath}/api-cms/stylesheets/a.css" type="text/css">
    <script type="text/javascript" src="${rc.contextPath}/api-cms/js/jquery-1.7.min.js"></script>
    <script src="${rc.contextPath}/api-cms/js/fontsize.js"></script>

</head>
<body>
<div class="main">
    <div class="head">
        <a class="img" href=""><img src="${rc.contextPath}/api-cms/logo.jpg"/></a>
        <a href="https://m.haiwainet.cn">推荐</a>
        <a href="https://m.haiwainet.cn/middle/index/pinglun/">首页评论</a>
        <a class="more" href="https://m.haiwainet.cn">更多</a>
        <a class="button" href="http://statics.haiwainet.cn/special/mobile_promotion.html">立即打开</a>
    </div>
    <article>
        <h2 class="content-title" id="content_title">
            对不起，该文章已被删除！
        </h2>

    </article>
</div>

</body>
</html>
